.footer {
    width: 100%;
    height: auto;
    background-color: var(--footer-bg);
    margin-top: 2rem;
    cursor: default;
  }
  
  /* .footer .footer_main {
    display: flex;
    margin-left: 10px;
    width: 100%;
  }
  
  .footer .footer_main .contact_info,
  .footer .footer_main .social_links {
    display: flex;
    flex-direction: column;
    width: 55%;
    padding: 20px;
    gap: 10px;
  }
  
  .footer .footer_main .contact_info .title,
  .footer .footer_main .social_links .title,
  .footer a,
  .footer p {
    color: var(--footer);
  }
  
  .footer .fa {
    font-size: 1.2rem;
  }
  
  .footer .footer_main .social_links .links {
    display: flex;
    gap: 20px;
  } */
  
  
  .footer .footer_rights {
    width: 100%;
    text-align: center;
    padding: 2rem 0px;
  }

  .footer .footer_rights p {
    color: #fcfcfc;
  }
  
  @media screen and (max-width: 972px) {
    .footer .footer_main {
      flex-direction: column;
      margin-left: 0px;
    }
  
    .footer .footer_main .contact_info,
  .footer .footer_main .social_links {
    width: 65%;
  }
  }
  